/*================================================================================
	Item Name: Crypto ICO - Cryptocurrency Website Landing Page HTML + Dashboard Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
/* -- general -------------------------------------- */
.balloon
{
    cursor: help;

    border-bottom: 1px dotted;
}

/* -- noscript -------------------------------------- */
input.noscript-closing-trick:checked ~ div
{
    display: none !important;
}

input.noscript-closing-trick
{
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.noscript-overlay
{
    position: fixed;
    z-index: 300; 
    /*display: none;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, .5);
}

.noscript-title
{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;

    margin: 0 0 10px 0;

    color: #fff;
}

.noscript p
{
    margin: 0 0 25px 0;

    color: #999;
    color: #f0f0f0;
}
.noscript p a
{
    color: #76daff;
}

.noscript-message
{
    position: fixed;
    z-index: 301; 
    top: 50px;
    left: 50%;

    width: 600px;
    min-width: 380px;
    margin-left: -300px;
    padding: 20px;

    border: 10px solid #ff3c41;
    background: black;
}

.nojs nav,
.nojs header,
.nojs .content-wrapper,
.nojs footer
{
    visibility: hidden;
}

/* -- head ------------------------------------------------------------------- */
@media (min-width: 992px)
{
    #head-area .banner-wrapper
    {
        margin-left: 3rem;
    }
}

header .navbar.navbar-fixed
{
    padding: 0;
}

.navbar .dropdown a
{
    line-height: 1.7rem;
}

/* -- about ------------------------------------------------------------------- */
@media (min-width: 992px)
{
    #about > .container
    {
        padding-left: 4rem;
    }
}

#about .play-video
{
    top: 30%;

    padding: .65rem;

    border-radius: 50%; 
    background-color: white;
}

/* -- problems & solutions ------------------------------------------------------------------- */
@media (min-width: 992px)
{
    #problem-solution > .container
    {
        padding-left: 4rem;
    }
}

#problem-solution ul
{
    list-style: circle;
}
#problem-solution ul li
{
    color: #c7b8ff;
}

.problems-img-inline,
.solutions-img-inline
{
    display: none;
}

@media (min-width: 992px)
{
    .solution-align
    {
        margin-left: 17rem;
    }
    .problems-img-inline,
    .solutions-img-inline
    {
        display: block;
    }
    .problems-img-inline
    {
        margin-bottom: 1rem; 
        margin-left: 1rem;
    }
    .solutions-img-inline
    {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .problems-img-row,
    .solutions-img-row
    {
        display: none;
    }
}

/* -- whitepaper ------------------------------------------------------------------- */
@media (min-width: 992px)
{
    #whitepaper > .container
    {
        padding-left: 4rem;
    }
}

/* -- token sale ------------------------------------------------------------------- */
@media (min-width: 992px)
{
    #token-sale-mobile-app > .token-sale > .container,
    #token-sale-mobile-app > .mobile-app > .container
    {
        padding-left: 4rem;
    }
}

.flip-clock-wrapper ul
{
    width: 40px;
    height: 60px;
    margin: 0 4px;
}

.flip-clock-wrapper ul li
{
    line-height: 60px;
}

.flip-clock-wrapper ul li a div div.inn
{
    font-size: 50px;
}

.flip-clock-wrapper ul,
.flip-clock-wrapper ul li a div div.inn
{
    border-radius: 10px;
}

.flip-clock-wrapper ul li a div.down
{
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px;
}

.flip-clock-wrapper ul li a div.up:after
{
    top: 29px;
}

.flip-clock-dot.top
{
    top: 24px;
}

.flip-clock-dot.bottom
{
    top: 36px;
}

.flip-clock-dot
{
    left: 12px; 

    width: 12px;
    height: 12px;
}

.flip-clock-divider
{
    width: 36px;
}

.clock-counter .flip-clock-divider.days .flip-clock-label
{
    right: -56px;
}

.clock-counter .flip-clock-divider.hours .flip-clock-label
{
    right: -56px;
}

.clock-counter .flip-clock-divider.minutes .flip-clock-label
{
    right: -64px;
}

.clock-counter .flip-clock-divider.seconds .flip-clock-label
{
    right: -70px;
}

.flip-clock-small-wrapper ul li a div.up div.inn,
.flip-clock-small-wrapper ul li a div.down div.inn
{
    padding-top: 2px;
}

.token-details .progress-top li.pre-sale
{
    left: 1.4rem;
}

.token-details .progress-top li.bonus
{
    right: 4rem;
}

#btn-purchase-sale.disabled
{
    cursor: not-allowed;
    pointer-events: auto;
}

.token-sale .note
{
    font-size: .75rem;
}

.ico-ended
{
    display: none;
}

/* -- App ------------------------------------------------------------------- */
#mobile-app .mobile-button
{
    cursor: inherit;
}

/* -- Roadmap ------------------------------------------------------------------- */
@media (min-width: 992px)
{
    #roadmap > .container
    {
        padding-left: 4rem;
    }
}

.roadmap .swiper-slide .roadmap-info
{
    margin-right: 1rem; 
    margin-left: 1rem;
}
.roadmap .swiper-slide .roadmap-info .status span
{
    font-size: .7rem;
}

.roadmap .swiper-slide:not(.active) .roadmap-info .status
{
    text-align: left;
}

/* -- Token ------------------------------------------------------------------- */
@media (min-width: 992px)
{
    #our-coin > .container
    {
        padding-left: 4rem;
    }
}

/* -- Token distribution ------------------------------------------------------------------- */
@media (min-width: 992px)
{
    #token-distribution > .container
    {
        padding-left: 4rem;
    }
}

#sales-pie-labels
{
    position: absolute;
    top: 0;
    left: 0;

    text-align: center; 

    color: #fff;
}
#sales-pie-labels h4
{
    line-height: 1.1rem;

    position: absolute;
}

#sales-pie-labels-crowdsale
{
    top: 89px;
    left: 119px;
}

#sales-pie-labels-team
{
    top: 234px;
    left: 414px;
}

#sales-pie-labels-airdrop
{
    top: 312px;
    left: 378px;
}

#sales-pie-labels-advisors
{
    top: 365px;
    left: 321px;
}

#sales-pie-labels-marketing
{
    top: 388px;
    left: 213px;
}

/* -- page team ------------------------------------------------------------------- */
@media (min-width: 992px)
{
    #team > .container,
    #advisor > .container
    {
        padding-left: 4rem;
    }
}

.team-description
{
    font-size: .8rem;
    font-weight: 300;

    position: absolute;
    top: 100%;
    right: 10px;
    left: 10px;

    display: none; 

    padding: 10px 10px 10px 15px;

    color: #fff;
}

/* -- page faq ------------------------------------------------------------------- */
@media (min-width: 992px)
{
    #faq > .container
    {
        padding-left: 4rem;
    }
}

/* -- footer ------------------------------------------------------------------- */
.footer
{
    background: url(../../assets/images/footer-image.png) no-repeat center top;
}

/* -- page login ------------------------------------------------------------------- */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill
{
    background: none !important;
}

#contact .err-mess
{
    margin-top: 6rem;
}

.required-error
{
    border-bottom: 2px solid #be2e1b !important;
}

#contact-success-alert
{
    font-size: 11px;

    display: none;

    margin-top: 1rem;
    padding: 15px 0;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase; 

    color: #fff;
    border: 2px solid #57cc65;
    background-color: #57cc65;
}

#contact-error-alert
{
    font-size: 11px;

    display: none;

    margin-top: 1rem;
    padding: 15px 0;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase; 

    color: #fff;
    border: 2px solid #cc5757;
    background-color: #cc5757;
}

#contact-debug-alert
{
    font-size: 11px;

    display: none;

    margin-top: 1rem;
    padding: 15px 0;

    text-align: center;
    letter-spacing: 1px; 

    color: #fff;
    border: 2px solid #cc5757;
    background-color: #cc5757;
}
