/*================================================================================
	Item Name: Crypto ICO - Cryptocurrency Website Landing Page HTML + Dashboard Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
/* -- general -------------------------------------- */
.balloon
{
    cursor: help;

    border-bottom: 1px dotted;
}

/* -- noscript -------------------------------------- */
input.noscript-closing-trick:checked ~ div
{
    display: none !important;
}

input.noscript-closing-trick
{
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.noscript-overlay
{
    position: fixed;
    z-index: 300; 
    /*display: none;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, .5);
}

.noscript-title
{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;

    margin: 0 0 10px 0;

    color: #fff;
}

.noscript p
{
    margin: 0 0 25px 0;

    color: #999;
    color: #f0f0f0;
}
.noscript p a
{
    color: #76daff;
}

.noscript-message
{
    position: fixed;
    z-index: 301; 
    top: 50px;
    left: 50%;

    width: 600px;
    min-width: 380px;
    margin-left: -300px;
    padding: 20px;

    border: 10px solid #ff3c41;
    background: black;
}

.nojs nav,
.nojs header,
.nojs .content-wrapper,
.nojs footer
{
    visibility: hidden;
}

/* -- head ------------------------------------------------------------------- */
header .navbar.navbar-fixed
{
    padding: 0;
}

.navbar .dropdown a
{
    line-height: 1.7rem;
}

/* -- about ------------------------------------------------------------------- */
#about .play-video
{
    top: 30%;

    padding: .65rem;

    border-radius: 50%; 
    background-color: white;
}

/* -- Key Strengths ------------------------------------------------------------------- */
.key-strengths .advantage-title
{
    font-size: 1.125rem;
    font-weight: 700;

    color: #fff;
}

.key-strengths .advantage-desc
{
    padding: 10px 10px 10px 15px;
}

/* -- problems & solutions ------------------------------------------------------------------- */
.problem-solution .problems img.problems-img-inline
{
    display: none;
}

.problem-solution .problems ul
{
    list-style: circle;
}
.problem-solution .problems ul li
{
    color: #c7b8ff;
}

.problem-solution .solutions img.solutions-img-inline
{
    display: none;
}

.problem-solution .solutions ul
{
    list-style: circle;
}
.problem-solution .solutions ul li
{
    color: #c7b8ff;
}

/* -- whitepaper ------------------------------------------------------------------- */
.onepager.section-padding
{
    padding-top: 0rem;
}
.onepager.section-padding .onepager-languages img
{
    border: 8px solid white;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 20px 0 rgba(103, 103, 103, .5);
            box-shadow: 0 0 20px 0 rgba(103, 103, 103, .5);
}

.referral ul.referral-steps
{
    font-size: .875rem;

    padding-left: 8px;
}
.referral ul.referral-steps li
{
    padding: .1rem 0; 

    color: #c7b8ff;
}
.referral ul.referral-steps li:before
{
    font-family: 'themify';
    font-size: 1.125rem;

    position: absolute;
    left: -3px;

    margin-top: -4px;
    margin-right: 10px;

    content: '\e65d';

    color: #fff;
}

.referral .note
{
    font-size: .75rem;
}

/* -- token sale ------------------------------------------------------------------- */
.flip-clock-wrapper ul
{
    width: 40px;
    height: 60px;
    margin: 0 4px;

    border-radius: 10px;
}
.flip-clock-wrapper ul li
{
    line-height: 60px;
}
.flip-clock-wrapper ul li a div div.inn
{
    font-size: 50px;

    border-radius: 10px;
}
.flip-clock-wrapper ul li a div.down
{
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px;
}
.flip-clock-wrapper ul li a div.up:after
{
    top: 29px;
}

.flip-clock-dot
{
    left: 12px; 

    width: 12px;
    height: 12px;
}
.flip-clock-dot.top
{
    top: 24px;
}
.flip-clock-dot.bottom
{
    top: 36px;
}

.clock-counter .flip-clock-divider.days .flip-clock-label
{
    right: -81px;
}

.clock-counter .flip-clock-divider.hours .flip-clock-label
{
    right: -56px;
}

.clock-counter .flip-clock-divider.minutes .flip-clock-label
{
    right: -64px;
}

.clock-counter .flip-clock-divider.seconds .flip-clock-label
{
    right: -70px;
}

.flip-clock-small-wrapper ul li a div.up div.inn,
.flip-clock-small-wrapper ul li a div.down div.inn
{
    padding-top: 2px;
}

.token-details .progress-bottom
{
    bottom: .5rem;
}
.token-details .progress-bottom .progress-info
{
    font-size: 1rem;

    -webkit-order: 0;
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
       -moz-box-ordinal-group: 1;
            order: 0;
    -webkit-flex: 1 1 auto;
       -moz-box-flex: 1;
        -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
            flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
            align-self: auto;
}

.token-details .progress-top li.pre-sale
{
    left: 1.4rem;
}

.token-details .progress-top li.bonus
{
    right: 4rem;
}

#btn-purchase-sale.disabled
{
    cursor: not-allowed;
    pointer-events: auto;
}

.token-sale:before
{
    content: none;
}

.token-sale .note
{
    font-size: .75rem;
}

.token-sale .ico-ended
{
    display: none;
}
.token-sale .ico-ended li
{
    font-size: 1.25rem; 
    font-weight: 700;

    text-align: center;

    color: #fff;
}

.ico-ended
{
    display: none;
}

/* -- App ------------------------------------------------------------------- */
#mobile-app .mobile-button
{
    margin-bottom: 1rem; 

    cursor: inherit;
}

/* -- Roadmap ------------------------------------------------------------------- */
.roadmap .swiper-slide .roadmap-info
{
    margin-right: 1rem; 
    margin-left: 1rem;
}
.roadmap .swiper-slide .roadmap-info .status span
{
    font-size: .7rem;
}

.roadmap .swiper-slide:not(.active) .roadmap-info .status
{
    text-align: left;
}

/* -- Token ------------------------------------------------------------------- */
.token-trade-img-inline,
.token-fuel-img-inline,
.token-yield-img-inline
{
    display: none;
}

.simulator-container
{
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
    /*
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
	align-items: flex-start;
	*/
}

.simulator-labels
{
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
       -moz-box-ordinal-group: 1;
    -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
            align-self: auto;
}

.simulator-sliders
{
    margin-right: 2rem; 
    margin-left: 2rem;

    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
       -moz-box-ordinal-group: 1;
    -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
       -moz-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
            align-self: auto;
}
.simulator-sliders #token-slider-volume .noUi-connect
{
    background: #da525f;
}
.simulator-sliders #token-slider-tokens .noUi-connect
{
    background: #24b081;
}
.simulator-sliders #token-slider-cost .noUi-connect
{
    background: #0062d1;
}

.simulator-result
{
    min-width: 7rem; 

    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
       -moz-box-ordinal-group: 1;
    -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
            align-self: auto;
}

.simulator-container > hr
{
    display: block; 

    width: 100%;

    content: '';
}

.token-simu-percent
{
    font-size: 3rem;
    line-height: 3rem;

    margin-top: -1rem;
}

.token-simu-percent-label
{
    font-size: 1.25rem;
    line-height: 1.25rem;
}

#token-slider-volume .noUi-pips
{
    top: -33px;
}
#token-slider-volume .noUi-pips .noUi-value
{
    top: -25px;
}

.noUi-tooltip
{
    display: none;
}

.noUi-active .noUi-tooltip
{
    display: block;
}

.noUi-marker,
.noUi-value
{
    color: #c7b8ff;
}

.noUi-marker-normal
{
    display: none;
}

/* -- Token distribution ------------------------------------------------------------------- */
.token-distribution .token-img
{
    margin-bottom: 26rem; 

    text-align: center;
}
.token-distribution .token-img img
{
    position: absolute;
    top: 0;
    left: 0; 

    width: 395px;
}

/* -- page team ------------------------------------------------------------------- */
.team-member
{
    padding-top: 10px;
}

.team-hover .team-member
{
    padding-top: 9px;
}

.team-hover
{
    z-index: 1;

    padding-top: 0;
    padding-left: 14px; 

    border: 1px solid #fff;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
}

.team-description
{
    font-size: .8rem;
    font-weight: 300;

    position: absolute;
    top: 100%;
    right: -1px;
    left: -1px;

    display: none;

    padding: 10px 10px 10px 15px;

    color: #fff;
    border: 1px solid #fff;
    border-top: none;
    border-radius: 0 0 8px 8px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, rgba(125, 185, 232, 0)), color-stop(95%, #1e5799));
    background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 3%, #1e5799 95%);
    background:    -moz-linear-gradient(top, rgba(125, 185, 232, 0) 3%, #1e5799 95%);
    background:      -o-linear-gradient(top, rgba(125, 185, 232, 0) 3%, #1e5799 95%);
    background:         linear-gradient(to bottom, rgba(125, 185, 232, 0) 3%, #1e5799 95%); 
    -webkit-box-shadow: #111 0 2px 3px;
            box-shadow: #111 0 2px 3px;
}

/* -- page faq ------------------------------------------------------------------- */
/* -- footer ------------------------------------------------------------------- */
.footer
{
    margin-top: 0rem; 

    background: url(../../assets/images/footer-image2.png) no-repeat center top;
}

/* -- page login ------------------------------------------------------------------- */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill
{
    background: none !important;
}

#contact .err-mess
{
    margin-top: 6rem;
}

.required-error
{
    border-bottom: 2px solid #be2e1b !important;
}

#contact-success-alert,
#referralbox-success-alert
{
    font-size: 11px;

    display: none;

    margin-top: 1rem;
    padding: 15px 0;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase; 

    color: #fff;
    border: 2px solid #57cc65;
    background-color: #57cc65;
}

#contact-error-alert,
#referralbox-error-alert
{
    font-size: 11px;

    display: none;

    margin-top: 1rem;
    padding: 15px 0;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase; 

    color: #fff;
    border: 2px solid #cc5757;
    background-color: #cc5757;
}

#contact-debug-alert,
#referralbox-debug-alert
{
    font-size: 11px;

    display: none;

    margin-top: 1rem;
    padding: 15px 0;

    text-align: center;
    letter-spacing: 1px; 

    color: #fff;
    border: 2px solid #cc5757;
    background-color: #cc5757;
}

/* -- Purchase modal popup -------------------------------------- */
/* -- Referral modal popup -------------------------------------- */
.purchase-modal
{
    background: -webkit-linear-gradient(45deg, rgba(20, 14, 56, .85), rgba(20, 56, 123, .85));
    background:    -moz-linear-gradient(45deg, rgba(20, 14, 56, .85), rgba(20, 56, 123, .85));
    background:      -o-linear-gradient(45deg, rgba(20, 14, 56, .85), rgba(20, 56, 123, .85));
    background:         linear-gradient(45deg, rgba(20, 14, 56, .85), rgba(20, 56, 123, .85));
}
.purchase-modal .close
{
    position: absolute;
    z-index: 9; 
    top: 1rem;
    right: 1rem;

    color: #fff;
}
.purchase-modal p
{
    color: #7d7d7d;
}
.purchase-modal .modal-header
{
    /*background: linear-gradient(32deg, #ff4137, #fdc800);*/
    border-bottom: 1px solid #eee;
}
.purchase-modal .modal-header .modal-title
{
    font-weight: 700;

    color: #fff;
}
.purchase-modal .modal-content
{
    border: 2px solid #fff; 
    border-radius: 1.0rem;
    background-image: -webkit-linear-gradient(20deg, #140e38 0%, #140e38 1%, #14387b 35%, #14387b 65%, #140e38 99%, #140e38 100%);
    background-image:    -moz-linear-gradient(20deg, #140e38 0%, #140e38 1%, #14387b 35%, #14387b 65%, #140e38 99%, #140e38 100%);
    background-image:      -o-linear-gradient(20deg, #140e38 0%, #140e38 1%, #14387b 35%, #14387b 65%, #140e38 99%, #140e38 100%);
    background-image:         linear-gradient(70deg, #140e38 0%, #140e38 1%, #14387b 35%, #14387b 65%, #140e38 99%, #140e38 100%);
}
.purchase-modal .modal-content .brand-text,
.purchase-modal .modal-content p
{
    color: #fff;
}
.purchase-modal .modal-content form
{
    width: 100%;
}
.purchase-modal .modal-content form .token-qr
{
    text-align: center;
}
.purchase-modal .modal-content form .token-qr img
{
    width: 90%;
}
.purchase-modal .modal-content form p
{
    font-size: 1.0rem;
}
.purchase-modal .modal-content form label
{
    color: #fff;
}
.purchase-modal .modal-content form .note
{
    font-size: .8rem;
}
.purchase-modal .modal-content form .right-content
{
    font-size: .8rem;
}
.purchase-modal .modal-content form .alert .sub-title,
.purchase-modal .modal-content form .alert .swap-box
{
    text-align: center;
}
.purchase-modal .modal-content form .form-control
{
    font-size: 1rem;
    line-height: 1.5;

    display: block;

    padding: .8rem 1.5rem;

    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
       -moz-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
         -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;

    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
}

.referral-modal
{
    background: -webkit-linear-gradient(45deg, rgba(20, 14, 56, .85), rgba(20, 56, 123, .85));
    background:    -moz-linear-gradient(45deg, rgba(20, 14, 56, .85), rgba(20, 56, 123, .85));
    background:      -o-linear-gradient(45deg, rgba(20, 14, 56, .85), rgba(20, 56, 123, .85));
    background:         linear-gradient(45deg, rgba(20, 14, 56, .85), rgba(20, 56, 123, .85));
}
.referral-modal .close
{
    position: absolute;
    z-index: 9; 
    top: 1rem;
    right: 1rem;

    color: #fff;
}
.referral-modal p
{
    color: #7d7d7d;
}
.referral-modal .modal-header
{
    border-bottom: 1px solid #eee;
}
.referral-modal .modal-header .modal-title
{
    font-weight: 700;

    color: #fff;
}
.referral-modal .modal-content
{
    border: 2px solid #fff; 
    border-radius: 1.0rem;
    background-image: -webkit-linear-gradient(20deg, #140e38 0%, #140e38 1%, #14387b 35%, #14387b 65%, #140e38 99%, #140e38 100%);
    background-image:    -moz-linear-gradient(20deg, #140e38 0%, #140e38 1%, #14387b 35%, #14387b 65%, #140e38 99%, #140e38 100%);
    background-image:      -o-linear-gradient(20deg, #140e38 0%, #140e38 1%, #14387b 35%, #14387b 65%, #140e38 99%, #140e38 100%);
    background-image:         linear-gradient(70deg, #140e38 0%, #140e38 1%, #14387b 35%, #14387b 65%, #140e38 99%, #140e38 100%);
}
.referral-modal .modal-content .brand-text,
.referral-modal .modal-content p
{
    color: #fff;
}
.referral-modal .modal-content form
{
    width: 100%;
}
.referral-modal .modal-content form p
{
    font-size: 1.0rem;
}
.referral-modal .modal-content form label
{
    color: #fff;
}
.referral-modal .modal-content form .note
{
    font-size: .8rem;
}
.referral-modal .modal-content form .right-content
{
    font-size: .8rem;
}
.referral-modal .modal-content form .alert .sub-title,
.referral-modal .modal-content form .alert .swap-box
{
    text-align: center;
}
.referral-modal .modal-content form .referrals-extent .form-group
{
    margin-bottom: 0;
}
.referral-modal .modal-content form .referrals-extent .form-group input
{
    margin-bottom: .2rem;
    padding: .2rem .5rem;
}
.referral-modal .modal-content form .referrals-extent .form-group input:focus
{
    color: #fff;
}
.referral-modal .modal-content form a
{
    padding: .5rem .5rem .3rem .5rem;
}

/* -- Responsiveness -------------------------------------- */
@media (max-width: 575.98px)
{
    .svg-img
    {
        width: 350px !important;
    }
    .head-area .head-content .banner-content
    {
        padding-top: 1.5rem !important;

        text-align: center;
    }
    .head-area .head-content h1
    {
        font-size: 1.0rem;
        line-height: 1.4rem;
    }
    .head-area .head-content h3
    {
        font-size: .7rem;
        line-height: 1.0rem; 

        margin-top: 2rem !important;
    }
    .head-area .head-content .btn
    {
        font-size: .8rem; 

        padding: .8rem !important;
    }
    .head-area #svg-animation
    {
        margin-right: 10%; 
        margin-left: 10%;
    }
    .section-padding
    {
        padding: 3rem 0 !important;
    }
    .dark-bg-heading
    {
        margin-bottom: 3rem !important;
    }
    .dark-bg-heading .sub-title,
    .heading .sub-title
    {
        display: none !important;
    }
    .dark-bg-heading .title,
    .heading .title
    {
        font-size: 1.4rem !important;
    }
    .move-first
    {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
           -moz-box-ordinal-group: 0;
        -ms-flex-order: -1;
                order: -1;
    }
    .about .content-area .what-is-crypto-img
    {
        text-align: center;
    }
    .about .content-area .play-video
    {
        top: 30%;
        left: 53%;
    }
    .about .content-area .play-video .play
    {
        width: 50px; 
        height: 50px;
        padding: .75rem !important;
    }
    .about .content-area .play-video .play i
    {
        font-size: 1.5rem;
    }
    .problems-img,
    .solutions-img
    {
        width: 250px;
    }
    .token-trade-img-inline,
    .token-fuel-img-inline,
    .token-yield-img-inline
    {
        width: 250px;
    }
    .whitepaper-img
    {
        margin-bottom: 3rem; 

        text-align: center;
    }
    .roadmap .timestamp.active span:after
    {
        left: 44.1%;
    }
    .roadmap .timestamp span:after
    {
        left: 44.1%;
    }
    .roadmap .next-slide
    {
        right: -14px;
    }
    .roadmap .prev-slide
    {
        left: -14px;
    }
    .faq .nav.nav-underline a
    {
        font-size: 1rem;
    }
    .contact .contact-info
    {
        display: block;
    }
    .contact .contact-info li
    {
        margin: 1rem 0;
    }
    .contact .contact-info li i
    {
        font-size: 1.12rem;
        line-height: 1.5rem;
    }
    .coin-img
    {
        text-align: center;
    }
    .coin-img img
    {
        width: 200px;
    }
    .mobile-app
    {
        margin-top: 3rem !important;
    }
    .mobile-app .mobile-app-imgs .mobile-app-img-1
    {
        width: 250px;
    }
    .mobile-app .mobile-app-imgs .mobile-app-img-2
    {
        top: 36px;
        left: 145px; 

        width: 70px;
    }
    .mobile-app .mobile-app-imgs .mobile-app-img-3
    {
        top: -9px;
        left: 141px; 

        width: 115px;
    }
    .mobile-app .mobile-app-imgs .mobile-app-img-4
    {
        top: -92px;
        left: 146px; 

        width: 175px;
    }
    .mobile-app .btn
    {
        padding: .7rem 1rem !important;
    }
    .mobile-app .btn span
    {
        padding-right: 1rem !important;
    }
    .token-details .progress-bottom
    {
        top: 2rem;
    }
    .token-details .clock-counter .flip-clock-wrapper .flip
    {
        height: 60px;
    }
    .token-details .clock-counter .flip-clock-wrapper .flip li
    {
        top: 0;
    }
    .token-details .clock-counter .flip-clock-wrapper .flip li a .up .inn
    {
        font-size: 50px;

        top: 0;
    }
    .token-details .clock-counter .flip-clock-wrapper .flip li a .down .inn
    {
        font-size: 50px;

        bottom: 0;
    }
    .token-details .clock-counter .flip-clock-wrapper .flip-clock-dot
    {
        left: 3px; 

        width: 6px;
        height: 6px;
    }
    .token-details .clock-counter .flip-clock-wrapper .flip-clock-dot.top
    {
        top: 24px;
    }
    .token-details .clock-counter .flip-clock-wrapper .flip-clock-dot.bottom
    {
        bottom: 36px;
    }
    .token-details .clock-counter .flip-clock-divider.days .flip-clock-label
    {
        left: 60px;
    }
    .token-details .clock-counter .flip-clock-divider.hours .flip-clock-label
    {
        left: 35px;
    }
    .token-details .clock-counter .flip-clock-divider.minutes .flip-clock-label
    {
        left: 32px;
    }
    .token-details .clock-counter .flip-clock-divider.seconds .flip-clock-label
    {
        left: 28px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px)
{
    .token-distribution .token-img
    {
        margin-bottom: 30rem;
    }
    .token-distribution .token-img img
    {
        width: 540px;
    }
    .simulator-result
    {
        min-width: 8rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px)
{
    .token-distribution .token-img
    {
        margin-bottom: 39rem;
    }
    .token-distribution .token-img img
    {
        width: 690px;
    }
}

@media (min-width: 768px)
{
    /* -- problems & solutions ---------------------------- */
    p.solution-align1,
    p.solution-align2
    {
        margin-left: 17rem;
    }
    .problems-img-inline,
    .solutions-img-inline
    {
        display: block;
    }
    .problems-img-inline
    {
        float: right; 

        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    .solutions-img-inline
    {
        float: left; 

        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .problems-img-row,
    .solutions-img-row
    {
        display: none;
    }
    .token-trade-img-inline,
    .token-fuel-img-inline,
    .token-yield-img-inline
    {
        display: block;
    }
    .token-trade-img-inline,
    .token-yield-img-inline
    {
        float: right; 

        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    .token-fuel-img-inline
    {
        float: left;

        margin-right: 1rem;
        margin-bottom: 1rem;
        margin-left: -.5rem;
    }
    .token-trade-img-row,
    .token-fuel-img-row,
    .token-yield-img-row
    {
        display: none;
    }
    .simulator-result
    {
        min-width: 10rem;
    }
    .token-simu-percent
    {
        font-size: 4rem;
        line-height: 4rem;

        margin-top: -1rem;
    }
    .token-simu-percent-label
    {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .simulator-container > hr
    {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px)
{
    .flip-clock-dot
    {
        left: -1px !important;
    }
    .token-distribution .token-img
    {
        margin-bottom: 7rem;
    }
    .token-distribution .token-img img
    {
        width: 419px;
    }
}

@media (min-width: 992px)
{
    /* -- problems & solutions ---------------------------- */
    p.solution-align1,
    p.solution-align2
    {
        margin-left: 17rem;
    }
}

@media (min-width: 1200px)
{
    .token-distribution .token-img
    {
        margin-bottom: 0rem;
    }
    .token-distribution .token-img img
    {
        width: 509px;
    }
}

@media (min-width: 1200px)
{
    /* -- problems & solutions ---------------------------- */
    ul.solution-align2
    {
        margin-left: 17rem;
    }
}

@media (min-width: 992px) and (max-width: 1499.98px)
{
    /* -- all sections ---------------------------- */
    .social-margin
    {
        margin-left: 3rem;
    }
}
