/*================================================================================
	Item Name: Crypto ICO - Cryptocurrency Website Landing Page HTML + Dashboard Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
/* -- general -------------------------------------- */
.condensed {
  font-family: "Open Sans Condensed", "Roboto", "Helvetica Neue", Arial, sans-serif; }

.balloon {
  cursor: help;
  border-bottom: 1px dotted; }

/* -- noscript -------------------------------------- */
input.noscript-closing-trick:checked ~ div {
  display: none !important; }

input.noscript-closing-trick {
  position: absolute;
  top: -9999px;
  left: -9999px; }

.noscript-overlay {
  position: fixed;
  /*display: none;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 300; }

.noscript-title {
  font-weight: 700;
  font-size: 32px;
  margin: 0 0 10px 0;
  line-height: 1.2;
  color: #ffffff; }

.noscript p {
  color: #999;
  margin: 0 0 25px 0;
  color: #f0f0f0; }
  .noscript p a {
    color: #76daff; }

.noscript-message {
  border: 10px solid #ff3c41;
  position: fixed;
  width: 600px;
  min-width: 380px;
  left: 50%;
  top: 50px;
  margin-left: -300px;
  padding: 20px;
  background: black;
  z-index: 301; }

.nojs nav, .nojs header, .nojs .content-wrapper, .nojs footer {
  visibility: hidden; }

/* -- corner-ribbon ------------------------------------------------------------------- */
.corner-ribbon {
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  font-size: 14px;
  z-index: 9999; }
  .corner-ribbon.sticky {
    position: fixed; }
  .corner-ribbon.shadow {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
  .corner-ribbon.top-left {
    top: 25px;
    left: -50px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  .corner-ribbon.top-right {
    top: 25px;
    right: -50px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }

/* -- Click to copy ------------------------------------------------------------------- */
@-webkit-keyframes floatup {
  20% {
    opacity: .999; }
  100% {
    -webkit-transform: translate3d(-50%, -17px, 0);
    transform: translate3d(-50%, -17px, 0); } }
@keyframes floatup {
  20% {
    opacity: .999; }
  100% {
    -webkit-transform: translate3d(-50%, -17px, 0);
    transform: translate3d(-50%, -17px, 0); } }

#btn-wallet-copy {
  color: #000; }
  #btn-wallet-copy.click-to-copy {
    cursor: pointer; }
    #btn-wallet-copy.click-to-copy .click-to-copy-label {
      position: relative; }
      #btn-wallet-copy.click-to-copy .click-to-copy-label::after {
        content: attr(data-label);
        color: #0069ff;
        position: absolute;
        left: 50%;
        opacity: .001;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        white-space: nowrap; }
    #btn-wallet-copy.click-to-copy.copying .click-to-copy-label::after {
      -webkit-animation: floatup .5s ease-in-out;
      animation: floatup .5s ease-in-out; }

/* -- reCaptcha ------------------------------------------------------------------- */
.grecaptcha-badge {
  display: none; }

/* -- Scroll to top button ------------------------------------------------------------------- */
#scrollUp {
  position: fixed;
  bottom: 44px;
  right: -100px;
  font-weight: 700;
  cursor: pointer;
  z-index: 1000; }
  #scrollUp .icon:after, #scrollUp .icon:before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Font Awesome 5 Free';
    font-size: 0.65rem;
    -webkit-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    background-image: linear-gradient(45deg, #bf68e6, #9e48cd);
    background-repeat: repeat-x;
    border: 0;
    color: #fff;
    padding: 0.5rem 0.65rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 12px 0 #bf68e6;
    box-shadow: 0px 0px 12px 0 #bf68e6; }
  #scrollUp .icon:after {
    content: "\f106"; }
  #scrollUp .icon:before {
    content: "\f106"; }

/* -- head ------------------------------------------------------------------- */
header .navbar.navbar-fixed {
  padding: 0; }

header .navbar.open {
  background: #194089; }

header .navbar .navbar-brand .brand-text {
  font-family: "Open Sans Condensed", "Roboto", "Helvetica Neue", Arial, sans-serif; }

header .navbar .dropdown a {
  line-height: 1.7rem; }

header .navbar .dropdown .dropdown-menu a:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f054"; }

.dropdown-toggle:after {
  font-family: 'Font Awesome 5 Free';
  content: "\f078"; }

/* -- header ------------------------------------------------------------------- */
.head-area .banner-content > div > a {
  width: 8rem; }

/* -- about ------------------------------------------------------------------- */
#about .content-area {
  color: #c7b8ff; }

#about .play-video {
  top: 30%;
  background-color: white;
  padding: 0.65rem;
  border-radius: 50%; }
  #about .play-video .play i {
    font-size: 2.2rem;
    margin-left: 7px; }

#about .advantage-title {
  font-size: 1rem;
  color: #c7b8ff; }

#about .arguments {
  min-height: 25rem; }

#about .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  font-size: 0.875rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  letter-spacing: normal;
  text-rendering: auto; }

#about .th {
  display: none;
  font-weight: 700; }

#about .th > .td {
  white-space: normal;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: inline-block;
  text-align: center; }

#about .tr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap; }
  #about .tr .td:first-child {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10rem;
    flex: 0 0 10rem;
    margin-right: 1rem; }

#about .td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  margin-left: 2px;
  margin-bottom: 2px;
  color: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #about .td.table-success, #about .td.table-danger, #about .td.table-warning {
    Color: #000;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

#about .advantage-desc + ul li:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f105';
  margin-right: 10px;
  position: absolute;
  left: 10px;
  font-size: 1.125rem;
  font-weight: 900;
  margin-top: -4px; }

/* -- Key Strengths ------------------------------------------------------------------- */
.key-strengths .advantage-title {
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff; }

.key-strengths .advantage-desc {
  padding: 10px 10px 10px 15px; }

/* -- problems & solutions ------------------------------------------------------------------- */
.problem-solution .problems img.problems-img-inline {
  display: none; }

.problem-solution .problems ul {
  list-style: circle; }
  .problem-solution .problems ul li {
    color: #c7b8ff; }

.problem-solution .solutions img.solutions-img-inline {
  display: none; }

.problem-solution .solutions ul {
  list-style: circle; }
  .problem-solution .solutions ul li {
    color: #c7b8ff; }

/* -- whitepaper ------------------------------------------------------------------- */
#whitepaper .whitepaper-img img {
  max-height: 13rem; }

/* -- onepager ------------------------------------------------------------------- */
#onepager .onepager-img img {
  max-height: 13rem; }

/*
#navigation > ul > li:nth-child(5) > div > a:nth-child(2) {
	display: none;
}
*/
.onepager {
  /* display: none; */ }
  .onepager.section-padding {
    padding-top: 0rem; }
    .onepager.section-padding .onepager-languages .lang-text .language {
      font-size: 0.875rem;
      color: #fff; }
    .onepager.section-padding .onepager-languages img {
      border: 8px solid white;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 20px 0 rgba(103, 103, 103, 0.5);
      box-shadow: 0 0 20px 0 rgba(103, 103, 103, 0.5); }

.onepager .onepager-languages a:hover {
  text-decoration: none; }

.onepager .onepager-languages img {
  border: 8px solid white;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0 20px 0px rgba(103, 103, 103, 0.5);
  box-shadow: 0px 0 20px 0px rgba(103, 103, 103, 0.5); }

.onepager .onepager-languages .lang-text {
  margin-top: 1rem; }
  .onepager .onepager-languages .lang-text .icon {
    color: #9e48cd; }
  .onepager .onepager-languages .lang-text .language {
    font-size: 0.875rem;
    color: #fff; }

/* -- referral ------------------------------------------------------------------- */
#referral .referral-img img {
  max-height: 15rem; }

.referral.section-padding {
  padding-top: 0rem; }
  .referral.section-padding .referral-languages a:hover {
    text-decoration: none; }
  .referral.section-padding .referral-languages img {
    border: 8px solid white;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0 20px 0px rgba(103, 103, 103, 0.5);
    box-shadow: 0px 0 20px 0px rgba(103, 103, 103, 0.5); }
  .referral.section-padding .referral-languages .lang-text {
    margin-top: 1rem; }
    .referral.section-padding .referral-languages .lang-text .icon {
      color: #9e48cd; }
    .referral.section-padding .referral-languages .lang-text .language {
      font-size: 0.875rem;
      color: #fff; }
  .referral.section-padding ul.referral-steps {
    font-size: .875rem;
    padding-left: 8px; }
    .referral.section-padding ul.referral-steps li {
      color: #c7b8ff;
      padding: 0.1rem 0; }
      .referral.section-padding ul.referral-steps li:before {
        font-family: 'Font Awesome 5 Free';
        content: '\f105';
        font-weight: 900;
        font-size: 1.125rem;
        position: absolute;
        left: -3px;
        margin-top: -4px;
        margin-right: 10px;
        color: #fff; }
  .referral.section-padding .note {
    font-size: .75rem; }

/* -- token sale ------------------------------------------------------------------- */
.flip-clock-wrapper ul {
  width: 40px;
  height: 60px;
  margin: 0 4px;
  border-radius: 10px; }
  .flip-clock-wrapper ul li {
    line-height: 60px; }
    .flip-clock-wrapper ul li a div div.inn {
      font-size: 50px;
      border-radius: 10px; }
    .flip-clock-wrapper ul li a div.down {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; }
    .flip-clock-wrapper ul li a div.up:after {
      top: 29px; }

.flip-clock-dot {
  width: 12px;
  height: 12px;
  left: 12px; }
  .flip-clock-dot.top {
    top: 24px; }
  .flip-clock-dot.bottom {
    top: 36px; }

.clock-counter .flip-clock-divider.days .flip-clock-label {
  right: -81px; }

.clock-counter .flip-clock-divider.hours .flip-clock-label {
  right: -56px; }

.clock-counter .flip-clock-divider.minutes .flip-clock-label {
  right: -64px; }

.clock-counter .flip-clock-divider.seconds .flip-clock-label {
  right: -70px; }

.flip-clock-small-wrapper ul li a div.up div.inn,
.flip-clock-small-wrapper ul li a div.down div.inn {
  padding-top: 2px; }

.token-details .progress-bottom {
  bottom: 0.5rem; }
  .token-details .progress-bottom .progress-info {
    font-size: 1rem;
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
    order: 0;
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }

.token-details .progress-top li.pre-sale {
  left: 1.4rem; }

.token-details .progress-top li.bonus {
  right: 4rem; }

#btn-purchase-sale.disabled {
  cursor: not-allowed;
  pointer-events: auto; }

.token-sale:before {
  content: none; }

.token-sale h5 {
  color: inherit;
  text-align: justify; }
  .token-sale h5#tokensale-title {
    color: #fff;
    text-align: center; }

.token-sale .card-body p {
  color: #7f7f7f; }

.token-sale .card-body .list-group-item {
  padding: 0.1rem 1.25rem; }
  .token-sale .card-body .list-group-item dl {
    margin-bottom: 0rem; }
  .token-sale .card-body .list-group-item dd {
    color: inherit;
    margin-bottom: 0; }

.token-sale .note {
  font-size: 0.75rem; }

.token-sale .ico-ended {
  display: none; }
  .token-sale .ico-ended li {
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 1.25rem; }

.token-sale ul.token-sale-info li::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f105';
  font-weight: 900; }

.ico-ended {
  display: none; }

/* -- Market ------------------------------------------------------------------- */
.market ul {
  list-style: circle;
  font-size: .875rem;
  padding-left: 16px; }
  .market ul li {
    color: #c7b8ff;
    /*color: $dark-bg-color1;*/
    padding: 0.1rem 0; }

.market .card {
  background-color: transparent; }

.market .card-caps {
  text-align: center;
  line-height: 1rem; }

/* -- Use cases ------------------------------------------------------------------- */
.use-cases ul {
  list-style: circle;
  font-size: .875rem;
  padding-left: 16px; }
  .use-cases ul li {
    color: #c7b8ff;
    /*color: $dark-bg-color1;*/
    padding: 0.1rem 0; }

.use-cases .use-case-img-inline {
  display: block !important;
  margin-left: 1rem;
  margin-bottom: 1rem;
  float: right; }

/* -- App ------------------------------------------------------------------- */
#mobile-app .mobile-button {
  cursor: inherit;
  margin-bottom: 1rem; }

#mobile-app .card-caps {
  text-align: center;
  line-height: 1rem; }

#mobile-app div[data-target="#editor"] {
  cursor: pointer; }

/* -- Roadmap ------------------------------------------------------------------- */
.roadmap.section-padding {
  padding-bottom: 0rem; }

.roadmap .swiper-slide .roadmap-info {
  margin-left: 1rem;
  margin-right: 1rem; }
  .roadmap .swiper-slide .roadmap-info .status span {
    font-size: .7rem; }

.roadmap .swiper-slide:not(.active) .roadmap-info .status {
  text-align: left; }

.roadmap .prev-slide:before {
  font-weight: 900;
  content: "\f053";
  font-family: 'Font Awesome 5 Free';
  left: 10px; }

.roadmap .next-slide:before {
  font-weight: 900;
  content: "\f054";
  font-family: 'Font Awesome 5 Free';
  left: 12px; }

.roadmap .timestamp.completed span:before {
  content: "\f00c";
  font-family: 'Font Awesome 5 Free'; }

/* -- Token ------------------------------------------------------------------- */
.token-trade-img-inline, .token-fuel-img-inline, .token-yield-img-inline {
  display: none; }

.token-bet-img-row svg {
  width: 100%; }

.simulator-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
	align-items: flex-start;
	*/ }

.simulator-labels {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.simulator-sliders {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  margin-left: 2rem;
  margin-right: 2rem; }
  .simulator-sliders #token-slider-volume .noUi-connect {
    background: #da525f; }
  .simulator-sliders #token-slider-tokens .noUi-connect {
    background: #24b081; }
  .simulator-sliders #token-slider-cost .noUi-connect {
    background: #0062d1; }

.simulator-result {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  min-width: 7rem; }

.simulator-container > hr {
  width: 100%;
  content: '';
  display: block; }

.simulator-container .form-group {
  width: 100%; }
  .simulator-container .form-group .col-form-label {
    color: #c7b8ff; }
  .simulator-container .form-group #token-slider-volume {
    margin-top: 3rem; }

.token-simu-percent {
  font-size: 3rem;
  line-height: 3rem;
  margin-top: -1rem; }

.token-simu-percent-label {
  font-size: 1.25rem;
  line-height: 1.25rem; }

#token-slider-volume .noUi-pips {
  top: -33px; }
  #token-slider-volume .noUi-pips .noUi-value {
    top: -25px;
    font-family: "Open Sans Condensed", "Roboto", "Helvetica Neue", Arial, sans-serif; }

#token-slider-cost .noUi-pips .noUi-value {
  top: 14px; }

.noUi-tooltip {
  display: none; }

.noUi-active .noUi-tooltip {
  display: block; }

.noUi-marker,
.noUi-value {
  color: #c7b8ff;
  font-size: .8rem; }

.noUi-marker-normal {
  display: none; }

/* -- Token distribution ------------------------------------------------------------------- */
.token-distribution .token-img {
  text-align: center;
  margin-bottom: 17rem; }
  .token-distribution .token-img img {
    width: 395px;
    position: absolute;
    top: 0;
    left: 0; }

/* -- page team ------------------------------------------------------------------- */
.team-member {
  padding-top: 10px; }

.team-hover .team-member {
  padding-top: 9px; }

.team-hover {
  z-index: 1;
  border: 1px solid #fff;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  padding-top: 0px;
  padding-left: 14px; }

.team-description {
  font-size: 0.8rem;
  font-weight: 300;
  position: absolute;
  top: 100%;
  right: -1px;
  left: -1px;
  padding: 10px 10px 10px 15px;
  color: #fff;
  display: none;
  border: 1px solid #fff;
  border-top: none;
  border-radius: 0 0 8px 8px;
  -webkit-box-shadow: #111 0px 2px 3px;
  box-shadow: #111 0px 2px 3px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, rgba(125, 185, 232, 0)), color-stop(95%, #1e5799));
  background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 3%, #1e5799 95%); }

.team .team-icon {
  top: 85px;
  bottom: auto; }

.team-hover .team-icon {
  top: 84px;
  left: 134px; }

.team .team-member .align-self-center {
  -ms-flex-item-align: auto !important;
  align-self: auto !important; }

/* -- page faq ------------------------------------------------------------------- */
.faq .collapse-icon a[data-toggle="collapse"] .icon:after, .faq .collapse-icon a[data-toggle="collapse"] .icon:before {
  font-family: 'Font Awesome 5 Free'; }

.faq .collapse-icon a[data-toggle="collapse"]:after, .faq .collapse-icon a[data-toggle="collapse"]:before {
  font-family: 'Font Awesome 5 Free'; }

.faq .collapse-icon a[data-toggle="collapse"] .icon:after {
  content: "\f068";
  /* "\e622" ti-minus */ }

.faq .collapse-icon a[data-toggle="collapse"] .icon:before {
  content: "\f067";
  /* "\e61a" ti-plus */ }

.faq .collapse-icon a[data-toggle="collapse"]:after {
  content: "\f106";
  /* ti-angle-up */ }

.faq .collapse-icon a[data-toggle="collapse"]:before {
  content: "\f107";
  /* ti-angle-dn */ }

/* -- footer ------------------------------------------------------------------- */
.footer {
  background: url(../../assets/images/footer-image_sm.png) no-repeat center top;
  margin-top: 0rem; }

/* -- page login ------------------------------------------------------------------- */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: none !important; }

#contact .err-mess {
  margin-top: 6rem; }

.required-error {
  border-bottom: 2px solid #be2e1b !important; }

#contact-success-alert,
#referralbox-success-alert {
  text-align: center;
  background-color: #57cc65;
  border: 2px solid #57cc65;
  color: #fff;
  padding: 15px 0;
  margin-top: 1rem;
  display: none;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase; }

#contact-error-alert,
#referralbox-error-alert {
  text-align: center;
  background-color: #cc5757;
  border: 2px solid #cc5757;
  color: #fff;
  padding: 15px 0;
  margin-top: 1rem;
  display: none;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase; }

#contact-debug-alert,
#referralbox-debug-alert {
  text-align: center;
  background-color: #cc5757;
  border: 2px solid #cc5757;
  color: #fff;
  padding: 15px 0;
  margin-top: 1rem;
  display: none;
  font-size: 11px;
  letter-spacing: 1px; }

/* -- Purchase modal popup -------------------------------------- */
/* -- Referral modal popup -------------------------------------- */
.purchase-modal {
  background: linear-gradient(45deg, rgba(20, 14, 56, 0.85), rgba(20, 56, 123, 0.85)); }
  .purchase-modal .close {
    color: #fff;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 9; }
  .purchase-modal p {
    color: #7d7d7d; }
  .purchase-modal .modal-header {
    /*background: linear-gradient(32deg, #ff4137, #fdc800);*/
    border-bottom: 1px solid #eee; }
    .purchase-modal .modal-header .modal-title {
      font-weight: 700;
      color: #fff; }
  .purchase-modal .modal-content {
    border-radius: 1.0rem;
    background-image: linear-gradient(70deg, #140e38 0%, #140e38 1%, #14387b 35%, #14387B 65%, #140e38 99%, #140e38 100%);
    border: 2px solid #fff; }
    .purchase-modal .modal-content .brand-text,
    .purchase-modal .modal-content p {
      color: #fff; }
    .purchase-modal .modal-content form {
      width: 100%; }
      .purchase-modal .modal-content form .token-qr {
        text-align: center; }
        .purchase-modal .modal-content form .token-qr img {
          width: 90%; }
      .purchase-modal .modal-content form p {
        font-size: 1.0rem; }
      .purchase-modal .modal-content form label {
        color: #fff; }
      .purchase-modal .modal-content form .note {
        font-size: 0.8rem; }
      .purchase-modal .modal-content form .right-content {
        font-size: 0.8rem; }
      .purchase-modal .modal-content form .alert .sub-title,
      .purchase-modal .modal-content form .alert .swap-box {
        text-align: center; }
      .purchase-modal .modal-content form .form-control {
        font-size: 1rem;
        line-height: 1.5;
        display: block;
        padding: .8rem 1.5rem;
        -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        color: #495057;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        background-color: #fff;
        background-clip: padding-box; }
      .purchase-modal .modal-content form .converter {
        background: linear-gradient(32deg, #ff4137, #fdc800);
        border: none; }

.referral-modal {
  background: linear-gradient(45deg, rgba(20, 14, 56, 0.85), rgba(20, 56, 123, 0.85)); }
  .referral-modal .close {
    color: #fff;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 9; }
  .referral-modal p {
    color: #7d7d7d; }
  .referral-modal .modal-header {
    border-bottom: 1px solid #eee; }
    .referral-modal .modal-header .modal-title {
      font-weight: 700;
      color: #fff; }
  .referral-modal .modal-content {
    border-radius: 1.0rem;
    background-image: linear-gradient(70deg, #140e38 0%, #140e38 1%, #14387b 35%, #14387B 65%, #140e38 99%, #140e38 100%);
    border: 2px solid #fff; }
    .referral-modal .modal-content .brand-text,
    .referral-modal .modal-content p {
      color: #fff; }
    .referral-modal .modal-content form {
      width: 100%; }
      .referral-modal .modal-content form p {
        font-size: 1.0rem; }
      .referral-modal .modal-content form label {
        color: #fff; }
      .referral-modal .modal-content form .note {
        font-size: 0.8rem; }
      .referral-modal .modal-content form .right-content {
        font-size: 0.8rem; }
      .referral-modal .modal-content form .alert .sub-title,
      .referral-modal .modal-content form .alert .swap-box {
        text-align: center; }
      .referral-modal .modal-content form .referrals-extent .form-group {
        margin-bottom: 0; }
        .referral-modal .modal-content form .referrals-extent .form-group input {
          margin-bottom: .2rem;
          padding: .2rem .5rem; }
          .referral-modal .modal-content form .referrals-extent .form-group input:focus {
            color: #fff; }
      .referral-modal .modal-content form a {
        padding: .5rem 0.5rem 0.3rem 0.5rem; }

/* -- Editor modal popup -------------------------------------- */
#editor .modal-dialog {
  max-width: 95%; }

.team-modal {
  background-image: linear-gradient(70deg, #140e38c0 0%, #140e38c0 25%, #14387bc0 35%, #14387bc0 65%, #140e38c0 75%, #140e38c0 100%); }

/* ######################################################## */
/* ######################################################## */
/* ##                    ################################## */
/* ##   RESPONSIVENESS   ################################## */
/* ##                    ################################## */
/* ######################################################## */
/* ######################################################## */
@media (max-width: 575.98px) {
  .svg-img {
    width: 350px !important; }
  .head-area .head-content .banner-content {
    padding-top: 1.5rem !important;
    text-align: center; }
    .head-area .head-content .banner-content div {
      margin-top: 1rem !important; }
  .head-area .head-content h1 {
    font-size: 0.9rem;
    line-height: 1.1rem; }
  .head-area .head-content h3 {
    margin-top: 1rem !important;
    font-size: 0.6rem;
    line-height: 0.8rem; }
  .head-area .head-content .btn {
    padding: 0.8rem !important;
    font-size: 0.8rem; }
  .head-area .head-content .move-first {
    margin-top: 5rem; }
  .head-area #svg-animation {
    margin-left: 20%;
    margin-right: 20%; }
  .section-padding {
    padding: 3rem 0 !important; }
  .dark-bg-heading {
    margin-bottom: 3rem !important; }
  .dark-bg-heading .sub-title,
  .heading .sub-title {
    display: none !important; }
  .dark-bg-heading .title,
  .heading .title {
    font-size: 1.4rem !important; }
  .move-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .about .content-area .what-is-crypto-img {
    text-align: center; }
  .about .content-area .play-video {
    top: 30%;
    left: 53%; }
    .about .content-area .play-video .play {
      padding: 0.75rem !important;
      height: 50px;
      width: 50px; }
      .about .content-area .play-video .play i {
        font-size: 1.5rem; }
  .about .content-area .arguments .arg-condensed {
    font-family: "Open Sans Condensed", "Roboto", "Helvetica Neue", Arial, sans-serif; }
  .problems-img,
  .solutions-img {
    width: 250px; }
  .use-case-img {
    width: 180px; }
  .token-trade-img-inline,
  .token-fuel-img-inline,
  .token-yield-img-inline {
    width: 250px; }
  .whitepaper-img,
  .onepager-img,
  .referral-img {
    text-align: center;
    margin-bottom: 3rem; }
  .roadmap .timestamp.active span:after {
    left: 44.1%; }
  .roadmap .timestamp span:after {
    left: 44.1%; }
  .roadmap .next-slide {
    right: -14px; }
  .roadmap .prev-slide {
    left: -14px; }
  .faq .nav.nav-underline a {
    font-size: 1rem; }
  .contact .contact-info {
    display: block; }
    .contact .contact-info li {
      margin: 1rem 0; }
      .contact .contact-info li i {
        font-size: 1.12rem;
        line-height: 1.5rem; }
  .coin-img {
    text-align: center; }
    .coin-img img {
      width: 200px; }
  .mobile-app {
    margin-top: 3rem !important; }
    .mobile-app .mobile-app-imgs .mobile-app-img-1 {
      width: 320px; }
    .mobile-app .mobile-app-imgs .mobile-app-img-2 {
      width: 70px;
      top: 36px;
      left: 215px; }
    .mobile-app .mobile-app-imgs .mobile-app-img-3 {
      width: 115px;
      top: -9px;
      left: 220px; }
    .mobile-app .mobile-app-imgs .mobile-app-img-4 {
      width: 175px;
      top: -92px;
      left: 228px; }
    .mobile-app .btn {
      padding: 0.7rem 1rem !important; }
      .mobile-app .btn span {
        padding-right: 1rem !important; }
  .token-details {
    padding: 0.5rem; }
    .token-details .progress-bottom {
      top: 2rem; }
    .token-details .clock-counter .flip-clock-wrapper .flip {
      height: 60px; }
      .token-details .clock-counter .flip-clock-wrapper .flip li {
        top: 0px; }
        .token-details .clock-counter .flip-clock-wrapper .flip li a .up .inn {
          font-size: 38px;
          top: 0px; }
        .token-details .clock-counter .flip-clock-wrapper .flip li a .down .inn {
          font-size: 38px;
          bottom: 0px; }
    .token-details .clock-counter .flip-clock-wrapper .flip-clock-dot {
      width: 6px;
      height: 6px;
      left: 3px; }
      .token-details .clock-counter .flip-clock-wrapper .flip-clock-dot.top {
        top: 24px; }
      .token-details .clock-counter .flip-clock-wrapper .flip-clock-dot.bottom {
        bottom: 36px; }
    .token-details .clock-counter .flip-clock-divider.days .flip-clock-label {
      left: 30px; }
    .token-details .clock-counter .flip-clock-divider.hours .flip-clock-label {
      left: 20px; }
    .token-details .clock-counter .flip-clock-divider.minutes .flip-clock-label {
      left: 12px; }
    .token-details .clock-counter .flip-clock-divider.seconds .flip-clock-label {
      left: 10px; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .about .content-area .arguments .arg-condensed {
    font-family: "Open Sans Condensed", "Roboto", "Helvetica Neue", Arial, sans-serif; }
  .token-distribution .token-img {
    margin-bottom: 21rem; }
    .token-distribution .token-img img {
      width: 540px; }
  .token-distribution div > div:nth-child(2) > div:nth-child(2) > div.token-img {
    margin-bottom: 23rem; }
  .simulator-result {
    min-width: 8rem; }
  .token-details .clock-counter .flip-clock-wrapper .flip li a .up .inn {
    font-size: 38px; }
  .token-details .clock-counter .flip-clock-wrapper .flip li a .down .inn {
    font-size: 38px; }
  .mobile-app .mobile-app-imgs .mobile-app-img-1 {
    width: 320px; }
  .mobile-app .mobile-app-imgs .mobile-app-img-2 {
    width: 70px;
    top: 36px;
    left: 215px; }
  .mobile-app .mobile-app-imgs .mobile-app-img-3 {
    width: 115px;
    top: -9px;
    left: 220px; }
  .mobile-app .mobile-app-imgs .mobile-app-img-4 {
    width: 175px;
    top: -92px;
    left: 228px; } }

@media (min-width: 576px) {
  .head-area .head-content .banner-content div {
    margin-top: 3rem !important; }
    .head-area .head-content .banner-content div a {
      width: 10rem; } }

@media (max-width: 767.98px) {
  .footer .footer-wrapper .title {
    margin-bottom: 25px; }
  .footer .footer-wrapper .DNT-btn {
    margin-top: 1rem !important; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .token-distribution .token-img {
    margin-bottom: 28rem; }
    .token-distribution .token-img img {
      width: 690px; }
  .mobile-app .mobile-app-imgs .mobile-app-img-1 {
    width: 320px; }
  .mobile-app .mobile-app-imgs .mobile-app-img-2 {
    width: 70px;
    top: 36px;
    left: 215px; }
  .mobile-app .mobile-app-imgs .mobile-app-img-3 {
    width: 115px;
    top: -9px;
    left: 220px; }
  .mobile-app .mobile-app-imgs .mobile-app-img-4 {
    width: 175px;
    top: -92px;
    left: 228px; } }

@media (min-width: 768px) {
  .head-area .head-content .banner-content div a {
    width: 12rem; }
  /* -- problems & solutions ---------------------------- */
  p.solution-align1,
  p.solution-align2 {
    margin-left: 17rem; }
  .problems-img-inline {
    display: block !important;
    margin-left: 1rem;
    margin-bottom: 1rem;
    float: right; }
  .solutions-img-inline {
    display: block !important;
    margin-right: 1rem;
    margin-bottom: 1rem;
    float: left; }
  .problems-img-row, .solutions-img-row {
    display: none; }
  .token-trade-img-inline,
  .token-fuel-img-inline,
  .token-yield-img-inline {
    display: block; }
  .token-trade-img-inline,
  .token-yield-img-inline {
    margin-left: 1rem;
    margin-bottom: 1rem;
    float: right; }
  .token-fuel-img-inline {
    margin-right: 1rem;
    margin-bottom: 1rem;
    float: left;
    margin-left: -0.5rem; }
  .token-trade-img-row, .token-fuel-img-row, .token-yield-img-row {
    display: none; }
  .simulator-result {
    min-width: 10rem; }
  .token-simu-percent {
    font-size: 4rem;
    line-height: 4rem;
    margin-top: -1rem; }
  .token-simu-percent-label {
    font-size: 1.5rem;
    line-height: 1.5rem; }
  .simulator-container > hr {
    display: none; }
  .simulator-container .form-group .col-form-label {
    top: -1rem; }
  .simulator-container .form-group .col-form-label[for="token-slider-volume"] {
    top: 2rem; }
  .footer .footer-wrapper .DNT-btn {
    margin-top: 3rem !important; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .flip-clock-dot {
    left: -3px !important; }
  .token-distribution .token-img {
    margin-bottom: 7rem; }
    .token-distribution .token-img img {
      width: 419px; }
  .mobile-app .mobile-app-imgs .mobile-app-img-1 {
    width: 280px; }
  .mobile-app .mobile-app-imgs .mobile-app-img-2 {
    width: 70px;
    top: 36px;
    left: 172px; }
  .mobile-app .mobile-app-imgs .mobile-app-img-3 {
    width: 115px;
    top: -9px;
    left: 170px; }
  .mobile-app .mobile-app-imgs .mobile-app-img-4 {
    width: 175px;
    top: -92px;
    left: 175px; } }

@media (min-width: 992px) {
  /* -- problems & solutions ---------------------------- */
  p.solution-align1,
  p.solution-align2 {
    margin-left: 17rem; }
  .simulator-result {
    margin-top: 4rem; }
  .footer {
    background: url(../../assets/images/footer-image.png) no-repeat center top; } }

@media (min-width: 1200px) {
  .token-distribution .token-img {
    margin-bottom: 0rem; }
    .token-distribution .token-img img {
      width: 509px; } }

@media (min-width: 1200px) {
  /* -- problems & solutions ---------------------------- */
  ul.solution-align2 {
    margin-left: 17rem; }
  .mobile-app .mobile-app-imgs .mobile-app-img-1 {
    width: 320px; }
  .mobile-app .mobile-app-imgs .mobile-app-img-2 {
    width: 70px;
    top: 36px;
    left: 218px; }
  .mobile-app .mobile-app-imgs .mobile-app-img-3 {
    width: 115px;
    top: -9px;
    left: 240px; }
  .mobile-app .mobile-app-imgs .mobile-app-img-4 {
    width: 175px;
    top: -92px;
    left: 280px; }
  #editor .modal-dialog {
    max-width: 73rem; } }

@media (min-width: 992px) and (max-width: 1499.98px) {
  /* -- all sections ---------------------------- */
  .social-margin {
    margin-left: 3rem; } }
