
		<div class="content-body">
			<main>

				<!-- Login -->
				<section id="contact" class="contact section-padding">
					<div class="container">
						<div class="heading text-center">
							<div class="animated" data-animation="fadeInUpShorter" data-animation-delay="0.3s">
								<h6 class="sub-title">DASHBOARD</h6>
								<h2 class="title">dashboard</h2>
							</div>
						</div>

					</div>
				</section>
				<!--/ Login -->

			</main>
		</div>

