###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# prevent git from converting linebreaks in .js files
# https://eslint.org/docs/rules/linebreak-style
###############################################################################
*.js text eol=lf

