/*================================================================================
	Item Name: Crypto ICO - Cryptocurrency Website Landing Page HTML + Dashboard Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

@charset 'UTF-8';

// Core variables and mixins
@import "../../theme-assets/scss/bootstrap/functions";
@import "../../theme-assets/scss/bootstrap/mixins";

// Load bootstrap overrides
@import "../../theme-assets/scss/bootstrap/variables";
@import "../../theme-assets/scss/variables/variables";    // Load theme-assets custom variable
@import "variables/variables";             		          // Load assets custom variable

// Load common variables
@import "../../theme-assets/scss/variables/theme-variables";
@import "variables/theme-variables";

// Load theme overrides
@import "../../theme-assets/scss/variables/template-3d-animation-variables";
@import "variables/template-3d-animation-variables";


/* -- noscript -------------------------------------- */

input.noscript-closing-trick:checked ~ div {
	display: none !important;
}
input.noscript-closing-trick {
	  position: absolute;
	  top: -9999px;
	  left: -9999px;
}
.noscript-overlay {
	  position: fixed;
	  /*display: none;*/
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: rgba(0,0,0,0.5);
	  z-index: 300;
}
.noscript-title {
	  font-weight: 700;
	  font-size: 32px;
	  margin: 0 0 10px 0;
	  line-height: 1.2;
	  color: #ffffff;
}
.noscript {
	p {
		color: #999;
		margin: 0 0 25px 0;
		color: #f0f0f0;
		a {
			color: #76daff;
		}
	}
}
.noscript-message {
	border: 10px solid #ff3c41;
	position: fixed;
	width: 600px;
	min-width: 380px;
	left: 50%;
	top: 50px;
	margin-left: -300px;
	padding: 20px;
	background: black;
	z-index: 301;
}
  
.nojs nav, .nojs header, .nojs .content-wrapper, .nojs footer {
	visibility: hidden;
}

/* -- head ------------------------------------------------------------------- */

#head-area .banner-wrapper {
	@include media-breakpoint-up(lg) { margin-left: 3rem; }
}

// Navbar fixed css
header{
	.navbar{
		&.navbar-fixed{
			padding: 0;
		}
	}
}

.navbar {
	.dropdown {
		a {
			line-height: 1.7rem;
		}
	}
}

/* -- about ------------------------------------------------------------------- */

#about > .container {
	@include media-breakpoint-up(lg) { padding-left: 4rem; }
}

#about .play-video {
	top: 30%;
    background-color: white;
    padding: 0.65rem;
    border-radius: 50%;
}

/* -- problems & solutions ------------------------------------------------------------------- */

#problem-solution > .container {
	@include media-breakpoint-up(lg) { padding-left: 4rem; }
}

#problem-solution ul {
	list-style: circle;
	li {
		   color: #c7b8ff;
	}
}
.problems-img-inline, .solutions-img-inline {
	display: none;
}
@include media-breakpoint-up(lg) {
	.solution-align {
		margin-left: 17rem;
	}
	.problems-img-inline, .solutions-img-inline {
		display: block;
	}
	.problems-img-inline {
		margin-left: 1rem;
		margin-bottom: 1rem;
	}
	.solutions-img-inline {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
	.problems-img-row, .solutions-img-row {
		display: none;
	}
}

/* -- token sale ------------------------------------------------------------------- */

$clock-font-size: 50px;
$clock-height: ($clock-font-size * 1.2);
$digit-gap: 8px;
$border-radius: 10px;
$dot-size: 12px;

.flip-clock-wrapper ul {
	width: ($clock-font-size * 0.8);
	height: $clock-height;
	margin: 0 ($digit-gap / 2);
}

.flip-clock-wrapper ul li {
	line-height: $clock-height;
}

.flip-clock-wrapper ul li a div div.inn {
	font-size: $clock-font-size;
}

.flip-clock-wrapper ul,
.flip-clock-wrapper ul li a div div.inn {
    border-radius: $border-radius;
}

.flip-clock-wrapper ul li a div.down {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.flip-clock-wrapper ul li a div.up:after {
	top: (($clock-height / 2) - 1px);
}

.flip-clock-dot.top {
    top: ($clock-height / 2 - $clock-font-size * 0.2 - $dot-size / 2);
}

.flip-clock-dot.bottom {
    top: ($clock-height / 2 + $clock-font-size * 0.2 - $dot-size / 2);
}

.flip-clock-dot{
    width: $dot-size;
    height: $dot-size;
    left: $dot-size;
}

.flip-clock-divider {
    width: ($dot-size * 3);
}


.clock-counter {
	.flip-clock-divider.days .flip-clock-label {
    	right: -56px;
	} 
	.flip-clock-divider.hours .flip-clock-label {
    	right: -56px;
	} 
	.flip-clock-divider.minutes .flip-clock-label {
    	right: -64px;
	} 
	.flip-clock-divider.seconds .flip-clock-label {
    	right: -70px;
	}
}
.flip-clock-small-wrapper ul li a {
	div.up div.inn,
	div.down div.inn {
		padding-top: 2px;
	}
}

.token-details .progress-top li.pre-sale {
    left: 1.4rem;
}
.token-details .progress-top li.bonus {
    right: 4rem;
}

#btn-purchase-sale.disabled {
	cursor: not-allowed;
	pointer-events: auto;
}

.token-sale .note {
	font-size: 0.75rem;
}


/* -- page login ------------------------------------------------------------------- */

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background: none !important;
}


#contact .err-mess  {
	margin-top: 6rem;
}

.required-error { border-bottom: 2px solid rgba(190,46,27,1)!important; }

#contact-success-alert {
	text-align: center; 
	background-color: #57cc65; 
	border: 2px solid #57cc65; 
	color: #fff;  
	padding: 15px 0; 
	margin-top: 1rem;
	display: none;
	font-size: 11px; 
	letter-spacing: 1px; 
	text-transform: uppercase; 
}

#contact-error-alert {
	text-align: center; 
	background-color: #cc5757; 
	border: 2px solid #cc5757; 
	color: #fff;  
	padding: 15px 0; 
	margin-top: 1rem;
	display: none;
	font-size: 11px; 
	letter-spacing: 1px; 
	text-transform: uppercase; 
}

#contact-debug-alert {
	text-align: center; 
	background-color: #cc5757; 
	border: 2px solid #cc5757; 
	color: #fff;  
	padding: 15px 0; 
	margin-top: 1rem;
	display: none;
	font-size: 11px; 
	letter-spacing: 1px; 
}
