/*================================================================================
	Item Name: Crypto ICO - Cryptocurrency Website Landing Page HTML + Dashboard Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

@charset 'UTF-8';

// Core variables and mixins
@import "../../theme-assets/scss/bootstrap/functions";
@import "../../theme-assets/scss/bootstrap/mixins";

// Load bootstrap overrides
@import "../../theme-assets/scss/bootstrap/variables";
@import "../../theme-assets/scss/variables/variables";    // Load theme-assets custom variable
@import "variables/variables";             		          // Load assets custom variable

// Load common variables
@import "../../theme-assets/scss/variables/theme-variables";
@import "variables/theme-variables";

// Load theme overrides
@import "../../theme-assets/scss/variables/template-3d-animation-variables";
@import "variables/template-3d-animation-variables";

/* -- general -------------------------------------- */

.balloon {
    cursor: help;
    border-bottom: 1px dotted;
}


/* -- noscript -------------------------------------- */

input.noscript-closing-trick:checked ~ div {
	display: none !important;
}
input.noscript-closing-trick {
	  position: absolute;
	  top: -9999px;
	  left: -9999px;
}
.noscript-overlay {
	  position: fixed;
	  /*display: none;*/
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: rgba(0,0,0,0.5);
	  z-index: 300;
}
.noscript-title {
	  font-weight: 700;
	  font-size: 32px;
	  margin: 0 0 10px 0;
	  line-height: 1.2;
	  color: #ffffff;
}
.noscript {
	p {
		color: #999;
		margin: 0 0 25px 0;
		color: #f0f0f0;
		a {
			color: #76daff;
		}
	}
}
.noscript-message {
	border: 10px solid #ff3c41;
	position: fixed;
	width: 600px;
	min-width: 380px;
	left: 50%;
	top: 50px;
	margin-left: -300px;
	padding: 20px;
	background: black;
	z-index: 301;
}
  
.nojs nav, .nojs header, .nojs .content-wrapper, .nojs footer {
	visibility: hidden;
}

/* -- corner-ribbon ------------------------------------------------------------------- */

.corner-ribbon {
	width: 200px;
	background: #e43;
	position: absolute;
	top: 25px;
	left: -50px;
	text-align: center;
	line-height: 20px;
	letter-spacing: 1px;
	color: #f0f0f0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	font-size: 14px;
	z-index: 9999;
	&.sticky {
		position: fixed;
	}
	&.shadow{
		box-shadow: 0 0 3px rgba(0,0,0,.3);
	}
	&.top-left{
		top: 25px;
		left: -50px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	&.top-right{
		top: 25px;
		right: -50px;
		left: auto;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
}
  
/* -- head ------------------------------------------------------------------- */

// Navbar fixed css
header{
	.navbar{
		&.navbar-fixed{
			padding: 0;
		}
	}
}

.navbar {
	.dropdown {
		a {
			line-height: 1.7rem;
		}
	}
}

/* -- about ------------------------------------------------------------------- */

#about .play-video {
	top: 30%;
    background-color: white;
    padding: 0.65rem;
    border-radius: 50%;
}

/* -- Key Strengths ------------------------------------------------------------------- */

.key-strengths {
	.advantage-title {
		font-size: 1.125rem;
		font-weight: 700;
		color: #fff;
	}
	.advantage-desc {
		padding: 10px 10px 10px 15px;
	}
}

/* -- problems & solutions ------------------------------------------------------------------- */

.problem-solution {
	.problems {
		img.problems-img-inline {
			display: none;
		}		
		ul {
			list-style: circle;
			li {
				color: #c7b8ff;
			}
		}
	}
	.solutions {
		img.solutions-img-inline {
			display: none;
		}		
		ul {
			list-style: circle;
			li {
				color: #c7b8ff;
			}
		}
	}
}


/* -- whitepaper ------------------------------------------------------------------- */

/* -- onepager ------------------------------------------------------------------- */

#navigation > ul > li:nth-child(5) > div > a:nth-child(2) {
	display: none;
}
.onepager {
	display: none;
	&.section-padding {
   		padding-top: 0rem;
		.onepager-languages {
			.lang-text .language {
				font-size: 0.875rem;
				color: #fff;
			}
			img {
				border: 8px solid white;
				border-radius: 50%;
				-webkit-box-shadow: 0 0 20px 0 rgba(103, 103, 103, .5);
				box-shadow: 0 0 20px 0 rgba(103, 103, 103, .5);
			}
		}
	}
}

/* -- referral ------------------------------------------------------------------- */

.referral.section-padding {
	padding-top: 0rem;
	.referral-languages {
		.lang-text .language {
			font-size: 0.875rem;
			color: #fff;
		}
		img {
			border: 8px solid white;
			border-radius: 50%;
			-webkit-box-shadow: 0 0 20px 0 rgba(103, 103, 103, .5);
			box-shadow: 0 0 20px 0 rgba(103, 103, 103, .5);
		}
	}
    ul.referral-steps {
		font-size: .875rem;
   		padding-left: 8px;
        li {
			color: $dark-bg-color1;
			padding: 0.1rem 0;
			&:before {
				font-family: 'themify';
				font-size: 1.125rem;
				position: absolute;
				left: -3px;
				margin-top: -4px;
				margin-right: 10px;
				content: '\e65d';
				color: #fff;
			}
		}
	}
	.note {
		font-size: .75rem;
	}
}

/* -- token sale ------------------------------------------------------------------- */

$clock-font-size: 50px;
$clock-height: ($clock-font-size * 1.2);
$digit-gap: 8px;
$border-radius: 10px;
$dot-size: 12px;

.flip-clock-wrapper ul {
	width: ($clock-font-size * 0.8);
	height: $clock-height;
	margin: 0 ($digit-gap / 2);
	border-radius: $border-radius;
	li {
		line-height: $clock-height;
		a {
			div div.inn {
				font-size: $clock-font-size;
				border-radius: $border-radius;
			}
			div.down {
				border-bottom-left-radius: $border-radius;
				border-bottom-right-radius: $border-radius;
			}
			div.up:after {
				top: (($clock-height / 2) - 1px);
			}
		}
	}
}

.flip-clock-dot {
    width: $dot-size;
    height: $dot-size;
	left: $dot-size;
	&.top {
		top: 24px;	// (($clock-height - $dot-size / 2) - ($clock-font-size * 0.15));
	}
	&.bottom {
		top: 36px;	// (($clock-height - $dot-size / 2) + ($clock-font-size * 0.15));
	}
}

.clock-counter {
	.flip-clock-divider.days .flip-clock-label {
    	right: -81px;
	} 
	.flip-clock-divider.hours .flip-clock-label {
    	right: -56px;
	} 
	.flip-clock-divider.minutes .flip-clock-label {
    	right: -64px;
	} 
	.flip-clock-divider.seconds .flip-clock-label {
    	right: -70px;
	}
}
.flip-clock-small-wrapper ul li a {
	div.up div.inn,
	div.down div.inn {
		padding-top: 2px;
	}
}

.token-details {
	.progress-bottom {
		bottom: 0.5rem;
		.progress-info {
			font-size: 1rem;
			-webkit-order: 0;
			-ms-flex-order: 0;
					order: 0;
			-webkit-flex: 1 1 auto;
			-moz-box-flex: 1;
				-ms-flex: 1 1 auto;
					flex: 1 1 auto;
			-webkit-align-self: auto;
			-ms-flex-item-align: auto;
					align-self: auto;
		}
	}
	.progress-top li {
		&.pre-sale {
			left: 1.4rem;
		}
		&.bonus {
			right: 4rem;
		}
	}
}

#btn-purchase-sale.disabled {
	cursor: not-allowed;
	pointer-events: auto;
}

.token-sale {
	&:before {
		content: none;
	}
	.note {
		font-size: 0.75rem;
	}
	.ico-ended {
		display: none;
		li {
			color: #fff;
			font-weight: 700;
			text-align: center;
			font-size: 1.25rem;
		}
	}
}

.ico-ended {
	display: none;
}

/* -- App ------------------------------------------------------------------- */

#mobile-app .mobile-button {
	cursor: inherit;
	margin-bottom: 1rem;
}

/* -- Roadmap ------------------------------------------------------------------- */

.roadmap {
	.swiper-slide {
		.roadmap-info {
			margin-left: 1rem;
			margin-right: 1rem;
			.status {
				span {
					font-size: .7rem;		
				}
			}
		}
	}
}
.roadmap {
	.swiper-slide:not(.active) {
		.roadmap-info {
			.status {
				text-align: left;
			}
		}
	}
}


/* -- Token ------------------------------------------------------------------- */

.token-trade-img-inline, .token-fuel-img-inline, .token-yield-img-inline {
	display: none;
}

.simulator-container {
    display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	/*
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
	align-items: flex-start;
	*/
    }

.simulator-labels {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

.simulator-sliders {
    order: 0;
    flex: 1 1 auto;
	align-self: auto;
	margin-left: 2rem;
	margin-right: 2rem;
	#token-slider-volume .noUi-connect {
		background: #da525f;
	}
	#token-slider-tokens .noUi-connect {
		background: #24b081;
	}
	#token-slider-cost .noUi-connect {
		background: #0062d1;
	}
}

.simulator-result {
    order: 0;
    flex: 0 1 auto;
	align-self: auto;
	min-width: 7rem;
}

.simulator-container > hr {
	width: 100%;
	content: '';
	display: block;
}

.token-simu-percent {
	font-size: 3rem;
	line-height: 3rem;
	margin-top: -1rem;
}
.token-simu-percent-label {
	font-size: 1.25rem;
	line-height: 1.25rem;
}

#token-slider-volume .noUi-pips {
	top: -33px;
	.noUi-value {
		top: -25px;
	}
}

.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}
.noUi-marker,
.noUi-value {
	color: #c7b8ff;
	font-size: .8rem;
}
.noUi-marker-normal {
	display: none;
}

/* -- Token distribution ------------------------------------------------------------------- */

.token-distribution {
	.token-img {
		text-align: center;
		margin-bottom: 26rem;
		img {
			width: 395px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

/* -- page team ------------------------------------------------------------------- */

.team-member {
	padding-top: 10px;
}
.team-hover .team-member {
	padding-top: 9px;
}
.team-hover {
	z-index: 1;
	border: 1px solid #fff;
	border-bottom: none;
	border-radius: 8px 8px 0 0;
	padding-top: 0px;
	padding-left: 14px;
}

.team-description {
    font-size: 0.8rem;
    font-weight: 300;
    position: absolute;
    top: 100%;
    right: -1px;
    left: -1px;
    padding: 10px 10px 10px 15px;
	color: #fff;
	display: none;
	border: 1px solid #fff;
	border-top: none;
    border-radius: 0 0 8px 8px;
	box-shadow: #111 0px 2px 3px;
	background: linear-gradient(to bottom, rgba(125,185,232,0) 3%,rgba(30,87,153,1) 95%);
}

/* -- page faq ------------------------------------------------------------------- */


/* -- footer ------------------------------------------------------------------- */

.footer {
	background: url(../../assets/images/footer-image2.png) no-repeat center top;
	margin-top: 0rem;
}

/* -- page login ------------------------------------------------------------------- */

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background: none !important;
}


#contact .err-mess  {
	margin-top: 6rem;
}

.required-error { border-bottom: 2px solid rgba(190,46,27,1)!important; }

#contact-success-alert,
#referralbox-success-alert {
	text-align: center; 
	background-color: #57cc65; 
	border: 2px solid #57cc65; 
	color: #fff;  
	padding: 15px 0; 
	margin-top: 1rem;
	display: none;
	font-size: 11px; 
	letter-spacing: 1px; 
	text-transform: uppercase; 
}

#contact-error-alert,
#referralbox-error-alert {
	text-align: center; 
	background-color: #cc5757; 
	border: 2px solid #cc5757; 
	color: #fff;  
	padding: 15px 0; 
	margin-top: 1rem;
	display: none;
	font-size: 11px; 
	letter-spacing: 1px; 
	text-transform: uppercase; 
}

#contact-debug-alert,
#referralbox-debug-alert {
	text-align: center; 
	background-color: #cc5757; 
	border: 2px solid #cc5757; 
	color: #fff;  
	padding: 15px 0; 
	margin-top: 1rem;
	display: none;
	font-size: 11px; 
	letter-spacing: 1px; 
}

/* -- Purchase modal popup -------------------------------------- */
/* -- Referral modal popup -------------------------------------- */

.purchase-modal {
	background: linear-gradient(45deg, rgba($modal-gradient1, 0.85), rgba($modal-gradient2, 0.85));
	.close{
		color: #fff;
		position: absolute;
	    right: 1rem;
	    top: 1rem;
	    z-index: 9;
	}
	p {
        color: $light-bg-font-color;
	}
	.modal-header {
		/*background: linear-gradient(32deg, #ff4137, #fdc800);*/
		border-bottom: 1px solid #eee;
		.modal-title {
			font-weight: 700;
			color: #fff;
		}
	}
	.modal-content {
		border-radius: 1.0rem;
		background-image: linear-gradient(70deg, #140e38 0%, #140e38 1%, #14387b 35%, #14387B 65%, #140e38 99%, #140e38 100%);
		border: 2px solid #fff;
		.brand-text, 
		p {
			color: #fff;
		}
		form {
			width: 100%;
			.token-qr {
				text-align: center;
				img {
					width: 90%;
				}
			}
			p {
				font-size: 1.0rem;
			}
			label {
				color: #fff;
			}
			.note {
				font-size: 0.8rem;
			}
			.right-content {
				font-size: 0.8rem;
			}
			.alert {
				.sub-title,
				.swap-box {
					text-align: center;
				}
			}
			.form-control {
				font-size: 1rem;
				line-height: 1.5;
				display: block;
				padding: .8rem 1.5rem;
				-webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
				-moz-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
				-o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
				transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
				transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
				transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
				color: #495057;
				border: 1px solid #ced4da;
				border-radius: .25rem;
				background-color: #fff;
				background-clip: padding-box;
			}
		}
	}
}

.referral-modal {
	background: linear-gradient(45deg, rgba($modal-gradient1, 0.85), rgba($modal-gradient2, 0.85));
	.close{
		color: #fff;
		position: absolute;
	    right: 1rem;
	    top: 1rem;
	    z-index: 9;
	}
	p {
        color: $light-bg-font-color;
	}
	.modal-header {
		border-bottom: 1px solid #eee;
		.modal-title {
			font-weight: 700;
			color: #fff;
		}
	}
	.modal-content {
		border-radius: 1.0rem;
		background-image: linear-gradient(70deg, #140e38 0%, #140e38 1%, #14387b 35%, #14387B 65%, #140e38 99%, #140e38 100%);
		border: 2px solid #fff;
		.brand-text, 
		p {
			color: #fff;
		}
		form {
			width: 100%;
			p {
				font-size: 1.0rem;
			}
			label {
				color: #fff;
			}
			.note {
				font-size: 0.8rem;
			}
			.right-content {
				font-size: 0.8rem;
			}
			.alert {
				.sub-title,
				.swap-box {
					text-align: center;
				}
			}
			.referrals-extent {
				.form-group {
					margin-bottom: 0;
					input {
						margin-bottom: .2rem;
						padding: .2rem .5rem;
						&:focus {
							color: #fff;
						}
					}
				}
			}
			a {
				padding: .5rem 0.5rem 0.3rem 0.5rem;
			}
		}
	}
}


/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -- Responsiveness -------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
    .svg-img {
        width: 350px !important;
    }
    .head-area {
        .head-content {
            .banner-content {
                padding-top: 1.5rem !important;
                text-align: center;
            }
            h1 {
				font-size: 1.0rem;	//1.2rem;
                line-height: 1.4rem;	//1.8rem;
            }
            h3 {
                margin-top: 2rem !important;
                font-size: 0.7rem;	//0.9rem;
                line-height: 1.0rem;	//1.4rem;
            }
            .btn {
                padding: 0.8rem !important;
                font-size: 0.8rem;
            }
		}
		#svg-animation {
			margin-left: 10%;
			margin-right: 10%;
		}
    }
    .section-padding {
        padding: 3rem 0 !important;
    }
    .dark-bg-heading {
        margin-bottom: 3rem !important;
    }
    .dark-bg-heading .sub-title,
    .heading .sub-title {
        display: none !important;
    }
    .dark-bg-heading .title,
    .heading .title {
        font-size: 1.4rem !important;
    }
    .move-first {
        order: -1;
    }
    .about {
        .content-area {
            .what-is-crypto-img {
                text-align: center;
            }
            .play-video {
                top: 30%;
                left: 53%;
                .play {
                    padding: 0.75rem !important;
                    height: 50px;
                    width: 50px;
                    i {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    .problems-img,
    .solutions-img {
        width: 250px;
    }
	.token-trade-img-inline,
	.token-fuel-img-inline,
	.token-yield-img-inline {
        width: 250px;
    }

    .whitepaper-img {
        text-align: center;
        margin-bottom: 3rem;
    }
    .roadmap {
        .timestamp {
            &.active {
                span {
                    &:after {
                        left: 44.1%;
                    }
                }
            }
            span {
                &:after {
                    left: 44.1%;
                }
            }
        }
        .next-slide {
            right: -14px;
        }
        .prev-slide {
            left: -14px;
        }
    }
    .faq .nav.nav-underline a {
        font-size: 1rem;
    }
    .contact {
        .contact-info {
            display: block;
            li {
                margin: 1rem 0;
                i {
                    font-size: 1.12rem;
                    line-height: 1.5rem;
                }
            }
        }
    }
    .coin-img {
        text-align: center;
        img {
            width: 200px;
        }
    }
    .mobile-app {
        .mobile-app-imgs {
            .mobile-app-img-1 {
                width: 250px;
            }
            .mobile-app-img-2 {
                width: 70px;
                top: 36px;
                left: 145px;
            }
            .mobile-app-img-3 {
                width: 115px;
                top: -9px;
                left: 141px;
            }
            .mobile-app-img-4 {
                width: 175px;
                top: -92px;
                left: 146px;
            }
        }
        margin-top: 3rem !important;
        .btn {
            padding: 0.7rem 1rem !important;
            span {
                padding-right: 1rem !important;
            }
        }
    }

    .token-details {
        .progress-bottom {
            top: 2rem;
        }
        .clock-counter {
            .flip-clock-wrapper {
                .flip {
                 //   margin: 2px;
                    height: 60px;	//24px;
                 //   padding: 23px 1px;
                    li {
                        top: 0px;
                        a {
                            .up {
                                .inn {
                                    font-size: 50px;
                                    top: 0px;
                                }
                            }
                            .down {
                                .inn {
                                    font-size: 50px;
                                    bottom: 0px;
                                }
                            }
                        }
                    }
                }
                .flip-clock-dot {
                    width: 6px;
                    height: 6px;
                    left: 3px;
                    &.top {
                        top: 24px;
                    }
                    &.bottom {
                        bottom: 36px;
                    }
                }
            }
            .flip-clock-divider {
                &.days {
                    .flip-clock-label {
                        left: 60px;
                    }
                }
                &.hours {
                    .flip-clock-label {
                        left: 35px;
                    }
                }
                &.minutes {
                    .flip-clock-label {
                        left: 32px;
                    }
                }
                &.seconds {
                    .flip-clock-label {
                        left: 28px;
                    }
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and less than 768px)
@include media-breakpoint-only(sm) {
	.token-distribution {
		.token-img {
			margin-bottom: 30rem;
			img {
				width: 540px;
			}
		}
	}
	.simulator-result {
		min-width: 8rem;
	}

}

// Small devices (landscape phones, 576px and wider)
@include media-breakpoint-up(sm) {

}

// Small devices (landscape phones, 576px and smaller)
@include media-breakpoint-down(sm) {
}

// Medium devices (tablets, 768px and less than 992px)
@include media-breakpoint-only(md) {
	.token-distribution {
		.token-img {
			margin-bottom: 39rem;
			img {
				width: 690px;
			}
		}
	}
}

// Medium devices (tablets, 768px and wider)
@include media-breakpoint-up(md) {
	/* -- problems & solutions ---------------------------- */
	p.solution-align1,
	p.solution-align2 {
		margin-left: 17rem;
	}
	.problems-img-inline {
		display: block !important;
		margin-left: 1rem;
		margin-bottom: 1rem;
		float: right;
	}
	.solutions-img-inline {
		display: block !important;
		margin-right: 1rem;
		margin-bottom: 1rem;
		float: left;
	}
	.problems-img-row, .solutions-img-row {
		display: none;
	}

	.token-trade-img-inline,
	.token-fuel-img-inline,
	.token-yield-img-inline {
		display: block;
	}
	.token-trade-img-inline,
	.token-yield-img-inline {
		margin-left: 1rem;
		margin-bottom: 1rem;
		float: right;
	}
	.token-fuel-img-inline {
		margin-right: 1rem;
		margin-bottom: 1rem;
		float: left;
		margin-left: -0.5rem;
	}
	.token-trade-img-row, .token-fuel-img-row, .token-yield-img-row {
		display: none;
	}
	.simulator-result {
		min-width: 10rem;
	}
	.token-simu-percent {
		font-size: 4rem;
		line-height: 4rem;
		margin-top: -1rem;
	}
	.token-simu-percent-label {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
	.simulator-container > hr {
		display: none;
	}
}

// Medium devices (tablets, 768px and smaller)
@include media-breakpoint-down(md) {
}

// Large devices (desktops, 992px and less than 1200px)
@include media-breakpoint-only(lg) {
	.flip-clock-dot {
		left: -1px !important;
	}
	.token-distribution {
		.token-img {
			margin-bottom: 7rem;
			img {
				width: 419px;
			}
		}
	}
}

// Large devices (desktops, 992px and wider)
@include media-breakpoint-up(lg) {
	/* -- problems & solutions ---------------------------- */
	p.solution-align1,
	p.solution-align2 {
		margin-left: 17rem;
	}

}

// Large devices (desktops, 992px and smaller)
@include media-breakpoint-down(lg) {

}

// XLarge devices (desktops, 1200px and less than 1500px)
@include media-breakpoint-only(xl) {
	.token-distribution {
		.token-img {
			margin-bottom: 0rem;
			img {
				width: 509px;
			}
		}
	}
}

// XLarge devices (desktops, 1200px and wider)
@include media-breakpoint-up(xl) {
	/* -- problems & solutions ---------------------------- */
	ul.solution-align2 {
		margin-left: 17rem;
	}
}

// XLarge devices (desktops, 1200px and smaller)
@include media-breakpoint-down(xl) {
}

// Large and XLarge devices (desktops, greater than 992px and less than 1500px)
@media (min-width: 992px) and (max-width: 1499.98px) {
	/* -- all sections ---------------------------- */
	.social-margin {
		margin-left: 3rem;
	}
}
