<!DOCTYPE html>
<html lang="en" data-textdirection="ltr">

<head>
	<%- include('partials/gtag', {path: '/do-not-track'}); %>
	<%- include('partials/head'); %>
	<style>
		section {
			color: #fff;
		}
		ul {
			color: #c7b8ff;
			list-style: circle;
		}
		h1 {
			font-size: 1.7rem;
		}
		h2 {
			font-size: 1.5rem;
			margin-left: 0rem;
		} 
		p.ph2,
		ul.ph2 {
			margin-left: 0rem;
		}
		h3 {
			font-size: 1.3rem;
			margin-left: 1rem;
		}
		p.ph3,
		ul.ph3 {
			margin-left: 1rem;
		}
		h4 {
			font-size: 1.1rem;
			margin-left: 2rem;
		}
		p.ph4,
		ul.ph4 {
			margin-left: 2rem;
		}
		p.date {
			float: right;
		}
	</style>
</head>

<body class="page-animated svg-wrapper " >
	<main>
		<section class="" id="">
			<div class="container mt-5">
			
				<h1>Do Not Track Policy</h1>
				<p></p>
				<p>Do Not Track (DNT) is a browser feature which allows you to express your preference not to be tracked when browsing the web. It does this by sending a DNT HTTP header every time your browser requests data from the web. Website owners are responsible for ensuring users with DNT enabled are not tracked.</p>
				<p>Grey Matter Technologies SpA observes your right not to be tracked. If you have Do Not Track enabled in your browser, we will disable any scripts on our website which collect data about your browsing behaviour. This includes:</p>
				<ul><li>Google Analytics services</li></ul>
				<p>We don't use any other tracking systems.</p>
				<p>We also remind you that Secure Swap website does not use cookies.</p>
				<h2>How do I turn on Do Not Track in my browser?</h2>
				<p>Follow the links below to find out how to turn on Do Not Track in your browser.<p>
				<ul>
					<li><a href="https://support.apple.com/en-gb/guide/safari/prevent-tracking-sfri40732/mac" target="_blank">Safari</a></li>
					<li><a href="https://support.google.com/chrome/answer/2790761?co=GENIE.Platform%3DDesktop&hl=en" target="_blank">Google Chrome</a></li>
					<li><a href="https://support.mozilla.org/en-US/kb/how-do-i-turn-do-not-track-feature" target="_blank">Firefox</a></li>
					<li><a href="http://help.opera.com/Windows/12.10/en/notrack.html" target="_blank">Opera</a></li>
					<li><a href="https://support.microsoft.com/en-us/help/17288/windows-internet-explorer-11-use-do-not-track" target="_blank">Internet Explorer</a></li>
					<li><a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy" target="_blank">Edge</a></li>
				</ul>
				<h2>Contact Us</h2>
				<p>If you have any questions about this Privacy Policy, please contact us at <a href="mailto:contact@greymattertechs.com">contact@greymattertechs.com</a></p>
			</div>
		</section>
	</main>
	<!-- //////////////////////////////////// FOOTER ////////////////////////////////////-->
	<%- include('partials/footer'); %>
	<!-- //////////////////////////////////// END FOOTER ////////////////////////////////////-->

	<!-- BEGIN VENDOR JS-->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	<script src="theme-assets/vendors/vendors.min.js"></script>
	<script src="assets/vendors/vendors.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
	<!-- BEGIN VENDOR JS-->
	<!-- BEGIN THEME JS-->
	<script src="theme-assets/js/theme.js"></script>
	<!-- END THEME JS-->
</body>

</html>